.sign_in
  .sign_in__inner.clearfix
    .sign_in__inner--header
      = link_to root_path do
        = image_tag "furima-logo.png", size: "140x41", class: 'toppage-header-box__header__contents--furima-logo'
      %h1 新規会員登録
    .sign_in__inner--user_form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        %li.sign_in_user_name
          .field
            .field-label-name
              %h6.name_input 姓(漢字)
              %p.required 必須
            .field-input
              = f.text_field :first_name
          .field
            .field-label-name
              %h6.name_input せい(ひらがな)
              %p.required 必須
            .field-input
              = f.text_field :first_kana
        %li.sign_in_user_kana
          .field
            .field-label-name
              %h6.name_input 名(漢字)
              %p.required 必須
            .field-input
              = f.text_field :last_name
          .field
            .field-label-name
              %h6.name_input な(ひらがな)
              %p.required 必須
            .field-input
              = f.text_field :last_kana
        .field
          .field-label-birth
            %h6.nickname_input ニックネーム
            %p.required 必須
          .field-input
            = f.text_field :nickname
        .field
          .field-label-mail
            %h6.mail_input メールアドレス
            %p.required 必須
          .field-input
            = f.email_field :email
        .field
          .field-label-birth
            %h6.birth_input 生年月日（例：20200101)
            %p.required 必須
          .field-input
            = f.text_field :birth_day
        .field
          .field-label-password
            %h6.pass_input パスワード
            %i (英数字7文字以上)
            %p.required 必須
          .field-input
            = f.password_field :password, autocomplete: "new-password"
        .field
          .field-label-password
            %h6.pass_input パスワード確認
            %p.required 必須
          .field-input
            = f.password_field :password_confirmation, autocomplete: "new-password"
        .actions
          = f.submit "会員登録", class: "btn"
          
= render "sells/footer"