.product-screen
  .product-screen__main
    = form_with model:@product, local:true do |f|
      - if @product.errors.any? 
        .alert
          %ul.alert__message
            - @product.errors.full_messages.each do |message| 
              %li= message

      .product-screen__main__content
        .product-screen__main__content__exhibition-image
          .product-screen__main__content__exhibition-image__label
            %label 出品画像
            %span.required__label 必須
          %p 画像の削除と差し替えができます
          #image-box-1
            - @product.images.each_with_index do |image, i|
              .item-img
                .item-img_content
                  .item-img_content_icon
                    %img{height: "100", width: "100", src: "#{image.src}", name: "product[images_attributes][#{@product.images.count}][src]"}
                  .item-img_operetion
                    .item-img_operetion_delete{data: {index: i}} 削除
                    .item-img_operetion_edit{data: {index: i}} 編集
            .sell-image_box-0#box
              = f.fields_for :images do |i|
                = i.file_field :src
                = i.check_box :_destroy, style: 'display:none'
                %label{for: 'img-file', style: 'z-index: 1;'}

      .product-screen__main__goods
        .product-screen__main__goods__name
          .product-screen__main__goods__name__label
            %label 商品名
            %span.required__label 必須
        .product-screen__main__goods__name__textfield
          = f.text_field :product_name, placeholder: "40文字まで"
        .product-screen__main__goods__description
          .product-screen__main__goods__description__label
            %label 商品の説明
            %span.required__label 必須
        .product-screen__main__goods__description__textarea
          = f.text_area :text, placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）着ると暖かくて脱ぐと寒いです。どうお手入れすればいいかはお婆ちゃんに聞いてください。\n"
      .product-screen__main__details
        .product-screen__main__details__categories
          .product-screen__main__details__categories__label
            %label カテゴリー
            %span.required__label 必須
        .product-screen__main__details__categories__serectform
          = f.collection_select :category_id, Category.all, :id, :name, { prompt: '選択してください' }, { required: ""}
        .product-screen__main__details__brand
          .product-screen__main__details__brand__label
            %label ブランド
            %span.any__label 任意
        .product-screen__main__details__brand__textfield
          = f.text_field :brand, placeholder: "例）パテックフィリップ", type: "text"
        .product-screen__main__details__status
          .product-screen__main__details__status__label
            %label 商品の状態
            %span.required__label 必須
        .product-screen__main__details__status__serectform
          = f.collection_select :status_id, Status.all, :id, :name, { prompt: '選択してください' }, { required: ""}
      .product-screen__main__delivery
        .product-screen__main__delivery__burden
          .product-screen__main__delivery__burden__label
            %label 配送料の負担
            %span.required__label 必須
        .product-screen__main__delivery__burden__serectform
          = f.collection_select :delivery_charge_id, DeliveryCharge.all, :id, :name, { prompt: '選択してください' }, { required: ""}
        .product-screen__main__delivery__area
          .product-screen__main__delivery__area__label
            %label 配送元の地域
            %span.required__label 必須
        .product-screen__main__delivery__area__serectform
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, { prompt: '選択してください' }, { required: ""}
        .product-screen__main__delivery__days
          .product-screen__main__delivery__days__label
            %label 配送までの日数
            %span.required__label 必須
        .product-screen__main__delivery__days__serectform
          = f.collection_select :delivery_day_id, DeliveryDay.all, :id, :name, { prompt: '選択してください' }, { required: ""}
      .product-screen__main__price
        .product-screen__main__price__selling-price
          .product-screen__main__price__selling-price__label
            %label 販売価格（¥300〜9,999,999）
            %span.required__label 必須
          .product-screen__main__price__selling-price__price-input
            ¥
            = f.number_field :price, placeholder: "0", type: "number"
        .product-screen__main__price__btn-box
          = f.submit '編集する', class: 'selling-btn'
          .product-screen__main__price__btn-box__back-btn
            = link_to 'もどる', root_path