.product_main
  =render 'users/header'
  .product_main_imageBox
    %h1.product_main_imageBox__name product1
    %ul.product_main_imageBox__body
      = image_tag "warioland.jpg", size: "400x500"
      %li.product_main_imageBox__body__under
        = image_tag "warioland2.jpg", size: "150x200" 
        = image_tag "warioland3.jpg", size: "150x200"
        = image_tag "warioland4.jpg", size: "250x180"
    %span.product_main_imageBox__price ¥3000 (税込) (送料込み)
    %h2.product_main_imageBox_item_detail ワイルドトレジャーハンター、ワリオの冒険を見逃すな！　
    .product_main_imageBox_table
      %table.product_main_imageBox_table_body
        %tr
          %th 出品者
          %td 
            %p 森田 椋也
        %tr
          %th 
            カテゴリー
          %td 
            %p レディース
            %p トップス
            %p Tシャツ/カットソー(半袖/袖なし)
        %tr
          %th ブランド
          %td
            %p NIKE
        %tr
          %th 商品のサイズ
          %td
            %p S
        %tr
          %th 商品の状態
          %td
            %p 新品
        %tr
          %th 
            配送料の負担
          %td
            %p 送料込み
        %tr
          %th 発送元の地域
          %td
            %p 大阪府
        %tr
          %th 発送日の目安
          %td
            %p 二日で発送
    .product_main_imageBox_action
      = link_to '購入する', "#", class: "product_main_imageBox_action_button"
  =render 'users/footer'

